---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/linkedin.astro";
import GitHubIcon from "../components/icons/github.astro";
import SocialPill from "../components/SocialPill.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience.astro";
import BagIcon from "../components/icons/bag.astro";
import UserMeIcon from "../components/icons/userMe.astro";
import PresentationIcon from "../components/icons/presentation.astro";
import Projects from "../components/Projects.astro";
import About from "../components/About.astro";
import EmailIcon from "../components/icons/email.astro";
import AppWindowsIcon from "../components/icons/appwindows.astro";
import ProjectsWordpress from "../components/ProjectsWordpress.astro";
---

<Layout
  title="Portfolio Brenda Sutara - Desarrolladora Frontend orientada al Design UX/UI"
  description="¡Bienvenido a mi portfolio! Soy Brenda Sutara, una apasionada desarrolladora Frontend con experiencia en la creación de interfaces web cautivadoras y funcionales. Explora mis proyectos para descubrir mi habilidad para equilibrar la creatividad con la usabilidad, y cómo transformo ideas en experiencias digitales memorables. ¡Contáctame para colaborar en tu próximo proyecto!"
>
  <main>
    <SectionContainer>
      <div class="flex justify-start gap-x-4">
        <img
          class="rounded-full size-20"
          src="https://github.com/brendasutara.png"
          alt="Brenda Sutara foto de perfil"
        />
        <a
          href="https://linkedin.com/in/brendasutara/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </div>
      <h1
        class="text-white text-4xl md:text-5xl font-bold flex flex-row gap-x-4 py-4"
      >
        Hola, soy Brenda
      </h1>
      <h2 class="text-lg md:text-xl text-wrap">
        <span class="text-pink-400"
          >Desarrolladora Frontend orientada al diseño UX/UI</span
        > de Mendoza, Argentina. Mi pasión está en transformar ideas en experiencias
        digitales cautivadoras 💻✨. Con una base en arquitectura y un entusiasmo
        recién descubierto por el desarrollo frontend, me aventuro a crear soluciones
        web que combinen funcionalidad y diseño.
      </h2>

      <div class="flex gap-x-2 py-4">
        <SocialPill href="https://github.com/brendasutara">
          <GitHubIcon class="size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="https://linkedin.com/in/brendasutara">
          <LinkedInIcon class="size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill
          href="https://drive.google.com/file/d/1U3YtaLSjowYNto7w13emzo6Pav2e99wz/view?usp=sharing"
        >
          <EmailIcon class="size-6" />
          Descargar CV
        </SocialPill>
      </div>
    </SectionContainer>

    <section
      id="experiencia"
      class="rounded-lg shadow-gray-400/50 w-11/12 lg:w-[740px] mx-auto mt-20 lg:mt-44"
    >
      <h2 class="flex text-2xl font-semibold gap-x-4 mb-6">
        <BagIcon class="size-8 opacity-60 items-center" />
        Experiencia Laboral
      </h2>
      <Experience />
    </section>

    <section
      id="proyectos"
      class="rounded-lg shadow-gray-400/50 w-11/12 lg:w-[740px] mx-auto mt-20 lg:mt-44"
    >
      <h2 class="flex text-2xl font-semibold gap-x-4 mb-6">
        <PresentationIcon class="size-8 opacity-60 items-center" />
        Proyectos Frontend
      </h2>
      <Projects />

      <h2 class="flex text-2xl font-semibold gap-x-4 mb-6">
        <AppWindowsIcon class="size-8 opacity-60 items-center" />
        Proyectos Wordpress
      </h2>
      <ProjectsWordpress />
    </section>

    <section
      id="sobre-mi"
      class="rounded-lg shadow-gray-400/50 w-11/12 lg:w-[740px] mx-auto mt-20 lg:mt-44"
    >
      <h2 class="flex text-2xl font-semibold gap-x-4 mb-6">
        <UserMeIcon class="size-8 opacity-60 items-center" />
        Un poco sobre mi
      </h2>
      <About />
    </section>
  </main>
</Layout>
