---
const personalImageAlt = "Brenda Sutara";
---

<article
  class="flex flex-col gap-y-4 mb-4 text-md font-medium text-white text-pretty dark:text-gray-400"
>
  <p >
    Empecé en este mundo, primero como autodidacta desde youtube en el 2018 pude
    conseguir mi primer trabajo como maquetadora en HTML y CSS con bootstrap .
    Luego fue adquiriendo conocimiento por necesidad de levantar mi propia
    página web para venta de productos digitales.
  </p>

  <p>
    He trabajado en desarrollo frontend con tecnologías modernas, diseño de interfaces accesibles y creación de sitios web funcionales. Actualmente estoy enfocada en el desarrollo de aplicaciones, integrando diseño y código desde una mirada versátil y adaptable.


  </p>
  <p>
    Me apasionan los proyectos donde puedo aportar una visión integral: diseño, desarrollo, estrategia y ejecución. Creo que la tecnología tiene impacto cuando se combina con empatía, claridad y propósito.
  </p>
</article>
