---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Enero 2024 - Actualidad",
    title: "Frontend Developer - UX/UI Designer",
    company: "Krater",
    description:
      "Apasionada Junior Frontend Developer en equipo dinámico de programadores. Creo arquitecturas de información, workflows y wireframes funcionales. Establezco sistemas de diseño y propongo futuras etapas en colaboración con el cliente. Comprometida con experiencias de usuario en Angular, asegurando integración fluida entre diseño y desarrollo.",
    link: "https://www.linkedin.com/in/brendasutara",
  },
  {
    date: "Mayo 2022 - Actualidad",
    title: "Desarrolladora Wordpress Freelance",
    company: "Krater",
    description:
      "Desarrolladora independiente de WordPress para clientes variados: abogados, vendedores.Soluciones personalizadas con capacitación integral. Entrega soluciones completas, fáciles de usar, asegurando presencia efectiva y adaptable en línea.",
  },
  {
    date: "Mayo 2022 - Octubre 2022",
    title: "Desarrolladora E-Learning y E-commerce",
    company: "Archibrenda",
    description:
      "Lideré la creación y gestión de un sitio WordPress que integró LearnDash para educación en línea y WooCommerce para la venta global y local de cursos. Enfoque en proporcionar soluciones completas para el aprendizaje y la venta de contenido educativo.",
  },
  {
    date: "Diciembre 2021 - Mayo 2022",
    title: "Desarrolladora Junior Frontend",
    company: "Archibrenda",
    description:
      "Desarrollé mi propia página web desde cero utilizando HTML, CSS y Bootstrap para crear un sitio funcional y estilizado. Enfoque en diseño responsivo y experiencia de usuario.",
    link: "https://archibrenda.com/",
  },
  {
    date: "Octubre 2018 - Diciembre 2018",
    title: "Desarrolladora Junior Frontend (Contrato de Prácticas)",
    company: "Aden Business School ",
    description:
      "Maquetadora experta en convertir diseños gráficos a código HTML5, CSS3 y Bootstrap, creando sitios web interactivos y adaptables. Especializada en traducir diseños a interfaces dinámicas y accesibles. Colaboración efectiva con equipos creativos y de desarrollo, cumpliendo altos estándares de calidad y plazos de entrega.",
  },
];
---

<ol class="relative border-s border-gray-200/40 ml-4">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
