<footer class="rounded-lg py-10">
  <div
    class="w-full mx-auto max-w-screen-xl md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-400 sm:text-center"
      >© 2025 <a href="https://flowbite.com/" class="hover:underline"
        >Brenda™</a
      >. Estos derechos son casi todos de <a
        href="https://www.linkedin.com/in/midudev">Midudev</a
      >.
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
    >
      <li>
        <a href="mailto:sutarabrenda@gmail.com" class="hover:text-pink-400"
          >Contacto</a
        >
      </li>
    </ul>
  </div>
</footer>
