<header class="flex justify-center items-center py-3 mx-auto">
  <nav class="flex flex-row gap-x-6 opacity-60">
    <a href="/">Inicio</a>
    <a href="#sobre-mi">Sobre mi</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#contacto">Contacto</a>
  </nav>
</header>
