---
const navItems = [
  {
    title: "Proyectos",
    label: "proyectos",
    url: "#proyectos",
  },
  {
    title: "Experiencia",
    label: "experiencia",
    url: "#experiencia",
  },
  {
    title: "Sobre mí",
    label: "sobre-mi",
    url: "#sobre-mi",
  },
  {
    title: "sutarabrenda@gmail.com",
    label: "contacto",
    url: "mailto:sutarabrenda@gmail.com",
  },
];
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
    class="flex px-3 text-sm font-medium rounded-full text-gray-200 justify-center items-center"
  >
    {
      navItems.map((link) => (
        <a
          class="relative block px-2 py-2 transition hover:text-pink-400"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
  </nav>
</header>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur bg-gray-800/50 ring-white/10;
    }
  }
</style>
